<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <a href="" id="order" onclick="changeOrder()" style="text-decoration: none;"></a>
        {{ content }}
        
        <script>
          let temp = document.cookie.split(';')
          let cookies = []
          for (i in temp) 
          {
            cookies[temp[i].split('=')[0]] = temp[i].split('=')[1]
          }

          function changeOrder() {
            if (cookies.hasOwnProperty('order') && cookies['order'] == 'desc') {
              document.cookie = 'order=asc'
            } else {
              document.cookie = 'order=desc'
            }
          }

          if (cookies.hasOwnProperty('order') && cookies['order'] == 'desc') {
              order.innerHTML = '&darr;&uarr;'
              order.href = '?date='+Date.now()
              document.write('\
              <style>\
                .article-list {\
                    transform: rotate(180deg);\
                }\
                .article-list-item:first-child {\
                    border: none !important;\
                }\
                .article-list-item:last-child {\
                  border-bottom: 1px solid #ebeaea !important;\
                }\
                .article-list .article-list-item {\
                    transform: rotate(-180deg);\
                }\
              </style>')
          } else {
            order.innerHTML = '&uarr;&darr;'
            order.href = '?date='+Date.now()
          }
        </script>

        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
